<div class="redes-container">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
</div>
<br>
<p id="paragraph-footer">© 2018 Todos los derechos reservados. LAGERHAUS.</p>