<nav class="navbar">
    <a href="/products/carrito-compras"><i class="fa-solid fa-arrow-left fa-lg" style="color: #ffa500;" alt="Ir hacia atrás"></i></a>
    <a href="/"> <img class="logo"
            src="/imgs/logo-lagerhaus - blanco.png" alt="Logo Largerhaus"
            id="logo-navbar"> </a>
    <i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffa500;"></i>
</nav>
