<div class="notas-del-producto">
    <h3>Notas para este producto</h3>
    <p>El restaurante intentará seguirlas cuando lo prepare</p>
</div>
<textarea name="notas-producto" id="notas-producto" placeholder="Escribe las instrucciones que necesites..."></textarea>
<div class="agregar-producto">
    <button type="button" class="agregar-button">AGREGAR $1900</button>
</div>