<h3> NUESTROS SPONSORS: </h3>
<div class="sponsors">
    <div class="sponsor-container">
        <img src="/imgs/sponsor-baba.jpeg" alt="aca va el logo de mercadoliebre" class="foto-sponsors">
    </div>
    <div class="sponsor-container">
        <img src="/imgs/sponsor-kellan.jpeg" alt="aca va el logo de mercadoliebre" class="foto-sponsors">
    </div>
    <div class="sponsor-container">
        <img src="/imgs/sponsor-merle.png" alt="aca va el logo de mercadoliebre" class="foto-sponsors" >
    </div>
    <div class="sponsor-container">
        <img src="/imgs/sponsor-ortuzar.jpg" alt="aca va el logo de mercadoliebre" class="foto-sponsors">
    </div>
</div>
<br>
<h3 id="redes-paragraph"> SEGUINOS EN NUESTRAS REDES!</h3>
<div class="redes-container">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
</div>