<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>carrito-vacio</title>
    <link href="/css/carrito-vacio.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
</head>

<body>
  <header>
    <%- include("./partials/header") %>
  </header>

  <main>
    <div class="div-carrito-vacio">
      <div class="div-logo-lager">
        <img src="/imgs/logo-lagerhaus - blanco.png" alt="logo lager">
      </div>
      <div class="mensaje-carrito">
        <h1> Tenes el carrito vacio! <a class="hace-tu-pedido" href="/products/menu">Realizá tu pedido</a>, no te quedes
          con hambre!
        </h1>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>