<!DOCTYPE html>
<html>
<head>
    <title>Error 404 - P치gina no encontrada</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/404.css" rel="stylesheet">
</head>
<body>
    <h1>Error 404 - P치gina no encontrada</h1>
    <p>Lo sentimos, la p치gina que est치s buscando no pudo ser encontrada.</p>
    <p>Por favor, verifica la URL ingresada e intenta nuevamente.</p>
</body>
</html>
