<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>LagerHaus</title>
        <link href="/css/index.css" rel="stylesheet">
        <link href="/css/header-index.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include("./partials/header-index") %>
    </header>


    <main>
        <div class="carousel-container">
            <div class="carousel-slides">
                <div class="carousel-slide">
                    <div class="image-container">
                        <img src="/imgs/products/1686089746026-burger-doble-smash.JPG" alt="Imagen 1">
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="image-container">
                        <img src="/imgs/FOTO SOCIAL 1.jpg" alt="Imagen 2">
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="image-container">
                        <img src="/imgs/products/sandwich-double-down.jpg" alt="Imagen 3">
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="image-container">
                        <img src="/imgs/FOTO SOCIAL 5.jpg" alt="Imagen 4">
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="image-container">
                        <img src="/imgs/products/tapeo-tequeños.jpg" alt="Imagen 5">
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="image-container">
                        <img src="/imgs/FOTO SOCIAL 3.jpg" alt="Imagen 6">
                    </div>
                </div>
            </div>
            <ul class="carousel-indicators">
                <li class="indicator active"></li>
                <li class="indicator"></li>
                <li class="indicator"></li>
                <li class="indicator"></li>
                <li class="indicator"></li>
                <li class="indicator"></li>
            </ul>
            <div class="carousel-controls">
                <button class="prev-button">&#9664;</button>
                <button class="next-button">&#9654;</button>
            </div>
        </div>



    </main>
    <br>

    <script src="/js/indexCarousel.js"></script>

    <footer>
        <%- include("./partials/footer") %>
            <p id="paragraph-footer">© 2018 Todos los derechos reservados. LAGERHAUS.</p>
    </footer>


</body>

</html>