<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>LagerHaus</title>
        <link href="/css/index.css" rel="stylesheet">
        <link href="/css/header-index.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include("./partials/header-index") %>
    </header>


    <main>
        <section class="fotos">
            <div class="carousel">
                <div class="carousel-slide">
                    <img src="/imgs/FOTO SOCIAL 4.jpg" alt="Foto Social" class="foto-top fade-in">
                </div>
                <div class="carousel-slide">
                    <img src="/imgs/products/sandwich-double-down.jpg" alt="Foto Social" class="foto-bottom fade-in">
                </div>
                <div class="carousel-slide">
                    <img src="/imgs/FOTO SOCIAL 2.jpg" alt="Foto Social" class="foto-bottom fade-in">
                </div>
            </div>
            <button id="prevButton">Anterior</button>
            <button id="nextButton">Siguiente</button>
        </section>


    </main>
    <br>

    <script src="/js/indexCarousel.js"></script>

    <footer>
        <%- include("./partials/footer") %>
            <p id="paragraph-footer">© 2018 Todos los derechos reservados. LAGERHAUS.</p>
    </footer>

</body>

</html>