<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>LagerHaus</title>
        <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include("./partials/header-main") %>
    </header>


    <main>
        <h2> NACIMOS PARA MEZCLARNOS </h2>
        <section class="fotos">
            <div class="foto-top-container">
                <img src="/imgs/FOTO SOCIAL 4.jpg" alt="Foto Social" class="foto-top fade-in">
            </div>
            <div class="fotos-container">
                <div class="foto-bottom-container">
                    <img src="/imgs/products/sandwich-double-down.jpg" alt="Foto Social"
                        class="foto-bottom fade-in">
                </div>
                <div class="foto-bottom-container">
                    <img src="/imgs/FOTO SOCIAL 2.jpg" alt="Foto Social"
                        class="foto-bottom fade-in">
                </div>
            </div>
        </section>
    </main>
    <br>

    <footer>
        <%- include("./partials/footer") %>
        <p id="paragraph-footer">© 2018 Todos los derechos reservados. LAGERHAUS.</p>
    </footer>

</body>

</html>