<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Nuestros Locales</title>
        <link href="/css/locales.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>
    <br>

    <main>
        <h2 class="title"> NUESTROS LOCALES </h2>

        <div class="ambos-contenedores">
            <section class="contenedor-local1" id="1">
                <img class="foto-local" src="/imgs/local1.jpg" alt="Foto Local">
                <div class="titulo-y-descripcion">
                    <h3 class="titulo-local">Lagerhaus Ramos Mejía</h3>
                    <p class="descripcion-local"> Si estás buscando un lugar para satisfacer tus antojos con auténtica
                        comida casera y un ambiente acogedor, no busques más allá de Lagerhaus en Ramos Mejía. Este
                        encantador local de comida te transportará a un rincón de Europa con su cocina de inspiración
                        alemana y su ambiente pintoresco.

                        Al entrar en Lagerhaus en Ramos Mejía, serás recibido por una decoración moderna que te hará
                        sentir como si estuvieras en un auténtico biergarten alemán. Las mesas de madera, las luces
                        suaves y los detalles cuidadosamente seleccionados crean una atmósfera cálida y acogedora que te
                        hará sentir como en casa. </p>
                </div>
            </section>

            <section class="contenedor-local2" id="2">
                <img class="foto-local" src="/imgs/local2.jpg" alt="Foto Local">
                <div class="titulo-y-descripcion">
                    <h3 class="titulo-local">Lagerhaus Villa Devoto</h3>
                    <p class="descripcion-local"> Cuando se trata de disfrutar de auténtica comida alemana en Villa
                        Devoto, no podes pasar por alto Lagerhaus. Este encantador local gastronómico te llevará en un
                        viaje culinario directamente a las tradiciones de Europa central, ofreciendo una experiencia
                        única en cada visita.

                        Lagerhaus en Villa Devoto se destaca por su atmósfera acogedora y relajada. Con su decoración al
                        estilo biergarten, mesas de madera y música de fondo, este lugar es perfecto para una cena
                        romántica o una reunión con amigos y familiares.</p>
                </div>
            </section>
        </div>

    </main>
    <br>


</body>

</html>