<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <link href="/css/franquicias.css" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="list-container">
            <nav class="navbar">
                <div id="navbar-left">
                    <a href="/"> <img class="logo" src="/imgs/logo-lagerhaus - blanco.png" alt="Logo Largerhaus" id="logo-navbar"> </a>
                </div>
                <ul class="navbar-right">
                    <li><a href="/products/menu">HACE TU PEDIDO</a></li>
                    <li><a href="#locales">LOCALES</a></li>
                    <li><a href="/franquicias">FRANQUICIAS</a></li>
                    <li><a href="#contacto">CONTACTO</a></li>
                    <li><a href="/users/login">LOGIN</a></li>
                    <li><a href="/products/carrito-compras"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffa500;"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    <main class="main-franquicias">
        <section class="franquicias-section-left">
            <img src="/imgs/franquicias1.jpg" alt="foto-del-local" id="foto-section-left">
            <h3 class="h3-franquicias">FRANQUICIAS</h3>
        </section>
        <section class="franquicias-section-right">
            <div class="container-que-brindamos">
                <h2 class="titulo-que-brindamos">Qué Brindamos</h2>
                <p class="que-brindamos">
                Somos una empresa en constante crecimiento que siente pasión por lo que hace, y por ello, buscamos un perfil de franquiciado que tenga las mismas ganas y motivación para superarse día a día. Vamos en busca de personas proactivas, con un enfoque comercial, que puedan apreciar el arte culinario, aplicar los controles necesarios para garantizar la máxima calidad del producto, y manejar sus equipos de trabajo a la perfección con una mezcla de conocimientos, ganas y empuje.</p>
            </div>
            <div class="franquicias-contacto">
                <form class="franquicias-contacto-form" action="/" method="get">
                    <p>Contacto</p>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="tel" name="telefono" id="telefono" placeholder="Teléfono">
                    <textarea name="mensaje" id="mensaje">Mensaje</textarea>
                    <button id ="ingresar" type="submit">Enviar</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <p>© 2018 Todos los derechos reservados. LAGERHAUS.</p>
        <div class="redes-container">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
    </footer>    
</body>
</html>