<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="list-container">
            <nav class="navbar">
                <div id="navbar-left">
                    <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" id="logo-navbar">
                </div>
                <ul class="navbar-right">
                    <li><a href="#menu">HACE TU PEDIDO</a></li>
                    <li><a href="#locales">LOCALES</a></li>
                    <li><a href="#franquicias">FRANQUICIAS</a></li>
                    <li><a href="#contacto">CONTACTO</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    <br>
    
    <main>
        <p> este seria el logo</p>
        <div class="logo-container">
            <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" id="logo-main">
        </div>
        <p>foto de comidas y la gente en el local</p>
        <div class="fotos">
            <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" >
            <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" >
        </div>
    </main>
    <br>

    <footer>
        <p> sponsors</p>
        <div class="sponsors-container">
            <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" class="fotos-sponsors">
            <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" class="fotos-sponsors">
            <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" class="fotos-sponsors" >
            <img src="/imgs/prueba.jpg" alt="aca va el logo de mercadoliebre" class="fotos-sponsors">
        </div>
        <br>
        <p id="redes-paragraph"> SEGUINOS EN NUESTRAS REDES!</p>
        <div class="redes-container">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
    </footer>
    
</body>
</html>