<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>LagerHaus</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header-main") %>
    </header>
    <br>
    
    <main>
        <h2> NACIMOS PARA MEZCLARNOS </h2>
        <section class="fotos">
            <div class="foto-top-container">
                <img src="/imgs/FOTO SOCIAL 4.jpg" alt="aca va el logo de mercadoliebre" class="foto-top" >
            </div>
            <div class="fotos-container">
                <div class="foto-bottom-container"> 
                    <img src="/imgs/sandwich-double-down.jpg" alt="aca va el logo de mercadoliebre" class="foto-bottom">
                </div>
                <div class="foto-bottom-container">
                    <img src="/imgs/FOTO SOCIAL 2.jpg" alt="aca va el logo de mercadoliebre" class="foto-bottom">
                </div>
            </div>
        </section>
    </main>
    <br>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
    
</body>
</html>