<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="list-container">
            <nav class="navbar">
                <div id="navbar-left">
                    <a href="/home"> <img class="logo" src="/imgs/logo-lagerhaus - blanco.png" alt="Logo Largerhaus" id="logo-navbar"> </a>
                </div>
                <ul class="navbar-right">
                    <li><a href="/menu">HACÉ TU PEDIDO</a></li>
                    <li><a href="#locales">LOCALES</a></li>
                    <li><a href="#franquicias">FRANQUICIAS</a></li>
                    <li><a href="#contacto">CONTACTO</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/carrito-compras"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffa500;"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    <br>
    
    <main>
        <div class="logo-container">    
            <img src="/imgs/FOTO SOCIAL 4.jpg" alt="aca va el logo de mercadoliebre" id="logo-main">
            <img src="/imgs/sandwich-double-down.jpg" alt="aca va el logo de mercadoliebre" id="foto-hamburguesa">
            <img src="/imgs/FOTO SOCIAL 2.jpg" alt="aca va el logo de mercadoliebre" id="foto-social" >
            <p id="texto-logo">NACIMOS PARA MEZCLARNOS </p>
        </div>
    </main>
    <footer>
        <div class="sponsors-container">
            <img src="/imgs/sponsor-kellan.jpeg" alt="aca va el logo de mercadoliebre" class="fotos-sponsors">
            <img src="/imgs/sponsor-baba.jpeg" alt="aca va el logo de mercadoliebre" class="fotos-sponsors">
            <img src="/imgs/sponsor-merle.png" alt="aca va el logo de mercadoliebre" class="fotos-sponsors" >
        </div>
        <br>
        <p id="redes-paragraph">SEGUINOS EN NUESTRAS REDES!</p>
        <div class="redes-container">
            <a href="https://www.instagram.com/lagerhausdevoto/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/lagerhausbsas" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </footer>
    
</body>
</html>