<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Nuestros Locales</title>
    <link href="/css/locales.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header-main") %>
    </header>
    <br>
    
    <main>
        <h2 class="title"> NUESTROS LOCALES </h2>

        <div class="ambos-contenedores">
            <section class="contenedor-local1" id="1">
                <img class="foto-local" src="/imgs/local1.jpg" alt="Foto Local">
                <div class="titulo-y-descripcion">
                    <h3 class="titulo-local">Lagerhaus Ramos Mejía</h3>
                    <p class="descripcion-local">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam libero, iste rem ducimus facilis itaque fuga hic vitae enim culpa vel voluptate quis voluptas ipsa obcaecati quibusdam? Nesciunt doloremque porro, iusto ex quidem numqu?</p>
                </div>
            </section>

            <section class="contenedor-local2" id="2">
                <img class="foto-local" src="/imgs/local2.jpg" alt="Foto Local">
                <div class="titulo-y-descripcion">
                    <h3 class="titulo-local">Lagerhaus Villa Devoto</h3>
                    <p class="descripcion-local">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam libero, iste rem ducimus facilis itaque fuga hic vitae enim culpa vel voluptate quis voluptas ipsa obcaecati quibusdam? Nesciunt doloremque porro, iusto ex quidem numqu?</p>
                </div>
            </section>
        </div>

    </main>
    <br>

    
</body>
</html>