<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
</head> 
<body>
    <header>
        <div class="list-container">
            <nav class="navbar">
                <div id="navbar-left">
                    <a href="/home"> <img class="logo" src="/imgs/logo-lagerhaus - blanco.png" alt="Logo Largerhaus" id="logo-navbar"> </a>
                </div>
                <ul class="navbar-right">
                    <li><a href="/menu">HACE TU PEDIDO</a></li>
                    <li><a href="#locales">LOCALES</a></li>
                    <li><a href="#franquicias">FRANQUICIAS</a></li>
                    <li><a href="#contacto">CONTACTO</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/carrito-compras"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffa500;"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="seccion" id="tapeo">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\tapeo-papas-completas-banner.jpg" alt="Foto Tapeo"> 
                <h2 class="title-banner">Tapeo</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="burgers">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\burgers-banner.jpg" alt="Foto burguers"> 
                <h2 class="title-banner">Burgers</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>          
        </div>

        <div class="seccion" id="sandwiches">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\sandwich-banner.jpg" alt="Foto sandwiches"> 
                <h2 class="title-banner">Sandwiches</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="pizzas">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\pizza-banner.jpg" alt="Foto pizzas"> 
                <h2 class="title-banner">Pizzas</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="sintacc">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\sintacc-banner.jpg" alt="Foto sintacc"> 
                <h2 class="title-banner">Sin TACC</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="vegano">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\vegano-banner.jpg" alt="Foto vegano"> 
                <h2 class="title-banner">Vegano</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="cervezas">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\cerveza-banner.jpg" alt="Foto cervezas"> 
                <h2 class="title-banner">Cervezas</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="tragos">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\tragos-banner.jpg" alt="Foto tragos"> 
                <h2 class="title-banner">Tragos y gaseosas</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/prueba.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Titulo Producto</p>
                                <p class="detalle-producto">detalle del producto</p>
                            </div>
                        </div>
                        <p class="precio">$ Precio</p>    
                    </li>
                </ul>
            </div>
            
        </div>

    </main>

    <footer>
    </footer>
    
</body>
</html>