<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container-image">
            <img src="/imgs/burger-jack.jpg" alt="Foto de Burger Jack" id="burger-jack">
        </div>

        <p class="mas-vendido">Mas vendido</p>

        <h2>Burger Jack</h2>

        <p class='descripcion-producto'>Medallon de carne, cheddar, panceta, aros de cebolla y salsa BBQ Jack Daniel's</p>

        <h2 class="precio">$1900</h2>

        <span class="linea-divisoria"></span>

        <h3>Otras personas los combinaron con:</h3>

        <div class="container-combinacion">
            <div class="container-combinacion-1">
                <img src="/imgs/burger-cervecera.jpg" alt="Foto de Burger Cervecera" id="burger-cervecera">
                <p>Burger Cervecera $2000</p>
                

            </div>

            <div class="container-combinacion-2">
                <img src="/imgs/tapeo-tequeños.jpg" alt="Foto de Tequeños" id="tapeo-tequeños">
            </div>

            <div class="container-combinacion-3">
                <img src="/imgs/sandwich-bondiola-desmenuzada.jpg" alt="Foto del Sandwich de Bondiola Desmenuzada" id="sandwich-bondiola-desmenuzada">
            </div>
        </div>
    </main>
</body>
</html>