*{
background-color:black;
color: #fff;
}

main{
    display: flex;
    flex-direction: column;

}

p{
    align-self: center;
}

ul{
    width: 75vw;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

li{
    width: 100%;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foto-nombre-cantidad{
    display: flex;
    flex-direction: row;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid orange;
}
#logo-navbar{
width: 50px;
height: 25px;
}
.fa-arrow-left{
    margin-left: 8px;
}
.fa-cart-shopping{
    margin-right: 8px;
}

@media(min-width:0px) and (max-width:576px){
    nav{
        display: flex;
        justify-content: flex-end;
    }
    nav ul{
        display: none;
    }
}

@media(min-width:576px){
    nav{
        display: flex;
        justify-content: flex-end;
    }
    nav ul{
        display: none;
    }
}

@media(min-width:768px){
    nav{
        display: flex;
        justify-content: flex-end;
    }
    nav ul{
        display: none;
    }
}

@media(min-width:992px){
    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
    }
}

@media(min-width:1200px){
    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
    }
}