.logo-container {
    display: flex;
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

#logo-main{
    max-width: 100%; 
    max-height: 100%;
}

.fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* add 20 pixels of space between the images */
    flex-direction: column;
    align-items: center;
}
  
.fotos img {
    max-width: 100%; /* ensure that the images don't exceed their container */
 }

.sponsors-container{
    display: flex;
    justify-content: space-evenly;
}

.fotos-sponsors{
    max-width: 20%;
}

.fa-brands{
    color:orange;
    font-size: 30px;
}

.redes-container{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#redes-paragraph{
    color: white;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}