main {
    padding: 20px;
}

footer {
    padding: 20px;
}

h2 {
    color: orange;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.fotos {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.foto-top-container {
    height: 50%;
    padding-bottom: 10px;
}

.foto-top {
    width: 100%;
    height: 100%;
}

.foto-top.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
    /* Duración de la animación */
}

.fotos-container {
    height: 50%;
    display: flex;
    gap: 10px;
}

.foto-bottom-container {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-bottom {
    width: 125%;
    height: 100%;
}

.foto-bottom.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
    /* Duración de la animación */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#texto-logo {
    font-weight: bold;
    color: orange;
    font-size: x-large;
}

.sponsors {
    margin-top: 10px;
    display: flex;
    height: 15vh;
    flex-direction: row;
    gap: 10px;
}

.sponsor-container {
    height: 100%;
    display: flex;
    overflow: hidden;
    width: 20vw;
    justify-content: center;
}

.foto-sponsors {
    width: 110%;
    height: 80%;
}

.fa-brands {
    color: orange;
    font-size: 30px;
}

.redes-container {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#redes-paragraph {
    color: orange;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}


p {
    color: orange;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

@media (min-width:768px) {
    .sponsors {
        gap: 25px;
        padding-left: 20px;
    }

    .foto-bottom {
        object-fit: cover;
    }

    .foto-top {
        object-fit: cover;
    }

}

@media (min-width:920px) {
    .sponsors {
        gap: 40px;
        padding-left: 10px;
    }
}

@media (min-width:1200px) {
    .fotos {
        height: 85vh;
    }

    .foto-top-container {
        height: 50%;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .foto-top {
        height: 170%;
    }

    .foto-bottom {
        width: 100%;
        height: 110%;
    }

    .sponsors {
        gap: 40px;
        margin-bottom: 75px;
        padding-left: 0px;
    }

    .sponsor-container {
        height: 130%;
        display: flex;
        width: 23vw;
        justify-content: center;
    }

    .foto-sponsors {
        width: 60%;
        height: 100%;
    }
}