* {
    background-color: black;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    color: white;
}

.section-profile-left {
    width: 20%;
    height: 450px;
    background-color: orange;
    padding: 30px;
    margin-bottom: 30px;
}

.section-profile-left * {
    background-color: transparent;
    color: black;
}

.section-profile-right {
    width: 50%;
    height: 360px;
    position: absolute;
    left: 30%;
    margin-top: 50px;
}

.my-acount-list {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.container-img-name {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container-img-name p {
    font-size: 12px;
}

.list .fa-solid {
    width: 5%;
}

.list {
    margin: 50px 0px;
    display: flex;
    align-items: center;

}

.list p {
    margin-left: 10px;
    position: relative;
    left: 15px;
}

footer {
    color: white;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.main-footer p {
    color: white;
    font-size: 0.5rem;
}

.redes-container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.redes-container i {
    color: orange;
}