*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

body {
    background-color: black;
}


/* estilos para la barra de navegación */
.list-container{
    width: 100%;
} 

nav {
    background-color:black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    border-bottom: 2px solid orange;
}

#navbar-left {
    float: left;
    margin-right: auto;
}

#logo-navbar{
    height: 50px;
    width: 145px;
} 


nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

nav li {
margin: 0 10px;
}

nav a {
color: #fff;
text-decoration: none;
}

.fa-bars{
color: orange;
font-size: 25px;
}

.burger-menu{
    display: flex;
    justify-content: flex-end;
}



/* Agrega este estilo para mostrar la lista de navegación cuando se agrega la clase 'active' */
.navbar-right.active {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
    flex-direction: column;
}

@media(min-width:0px) and (max-width:576px){
    nav{
        display: flex;
    }
    nav ul{
        display: none;
    }
}

@media(min-width:576px){
    nav{
        display: flex;
    }
    nav ul{
        display: none;
    }
}

@media(min-width:768px){
    nav{
        display: flex;

    }
    nav ul{
        display: none;
    }
}

@media(min-width:992px){
    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
    }
}

@media(min-width:1200px){
    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
    }
}

