* {
    box-sizing: border-box;
}

.div-carrito-vacio {
    height: 100vh;
    background-image: url("/imgs/products/MIX DE BURGERS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 31%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}


.div-logo-lager {
    display: flex;
    width: auto;
    justify-content: center;
    height: 15vh;
}

.mensaje-carrito {
    text-align: center;
}

.hace-tu-pedido:visited {
    color: white;
}

@media(min-width:768px) {
    .div-carrito-vacio {
        height: 796px;
    }
}

@media(min-width:920px) {
    .div-carrito-vacio {
        height: 795px;
    }
    .div-logo-lager{
        height: 20vh;
    }
}


@media(min-width:1600px) {
    .div-carrito-vacio {
        height: 883px;
    }
}