.franquicias-section-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.franquicias-section-left-img {
    background-image: url(../imgs/franquicias1.jpg);
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

#foto-section-left {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3-franquicias {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

}

.franquicias-section-right {
    padding: 0px 20px;
}

.container-que-brindamos {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.titulo-que-brindamos {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.que-brindamos {
    color: white;
    text-align: justify;
    display: flex;
    width: 100%;
    padding: 20px;
    font-size: large;
    margin-bottom: 20px;
}

.franquicias-contacto-form {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.franquicias-contacto-form p {
    color: white;
    border-bottom: 1px solid orange;
    margin: 10px 0px;
    padding-bottom: 5px;
}

.franquicias-contacto-form input {
    padding: 10px;
    margin-bottom: 8px;
    background-color: black;
    border: 0.1px solid orange;
}

.franquicias-contacto-form textarea {
    padding: 10px;
    margin-bottom: 8px;
    background-color: black;
    border: 0.1px solid orange;
    color: gray;
}

.franquicias-contacto-form button {
    padding: 10px;
    background-color: black;
    color: grey;
    border: 0.1px solid orange;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#paragraph-footer {
    color: white;
    font-size: 0.7rem;
    position: absolute;
}

.fa-brands {
    color: orange;
    /* font-size: 30px; */
}

.redes-container {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#redes-paragraph {
    margin-top: 15px;
    color: orange;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

#paragraph-footer {
    color: white;
    font-size: 0.7rem;
    text-align: initial;
}

p {
    color: orange;
    text-align: center;
    font-size: medium;
}

footer {
    padding: 20px;
}

@media(min-width:768px) {
    .h3-franquicias {
        top: 2px;
    }

}

@media(min-width:920px) {

    .main-franquicias {
        display: flex;
    }

    .franquicias-section-left {
        width: 50%;
        height: 78vh;
    }

    .franquicias-section-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .franquicias-contacto-form button {
        padding: 10px;
        background-color: black;
        color: grey;
        border: 0.1px solid orange;
    }

}

@media (min-width:1600px) {
    footer {
        padding: 20px;
        margin-top: 25px;
    }

    .que-brindamos {
        font-size: x-large;
    }

    .franquicias-contacto {
        margin-top: 50px;
    }

    .franquicias-section-left-img {
        height: 78vh;
    }

}