.franquicias-section-left {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.franquicias-section-left-img{
    background-image: url(../imgs/franquicias1.jpg);
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

#foto-section-left {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3-franquicias {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    
}

.franquicias-section-right{
    padding: 0px 20px;
}

.container-que-brindamos {
    margin: 10px 0px;
}

.titulo-que-brindamos {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.que-brindamos {
    color: white;
    text-align: justify;
    font-size: 0.8rem;
}

.franquicias-contacto-form {
    display: flex;
    flex-direction: column;
}

.franquicias-contacto-form p {
    color: white;
    border-bottom: 1px solid orange;
    margin: 10px 0px;
    padding-bottom: 5px;
}

.franquicias-contacto-form input {
    padding: 10px;
    margin-bottom: 8px;
    background-color: black;
    border: 0.1px solid orange;
}

.franquicias-contacto-form textarea {
    padding: 10px;
    margin-bottom: 8px;
    background-color: black;
    border: 0.1px solid orange;
    color: gray;
}

.franquicias-contacto-form button {
    width: 50%;
    padding: 10px;
    background-color: black;
    color: grey;
    border: 0.1px solid orange;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#paragraph-footer{
    color: white;
    font-size: 0.7rem;
    position: absolute;
}

.redes-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.redes-container i {
    color: orange;
}

@media(min-width:768px){
    .h3-franquicias {
        top: 2px;
    }

}

@media(min-width:920px){

    .main-franquicias {
        display: flex;
    }

    .franquicias-section-left {
        width: 50%;
        height: 90vh;
        display: flex;
    }

    .franquicias-section-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .que-brindamos {
        width: 50%;
    }

}