.list-container-index {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

#navbar-left {
    float: left;
    margin-right: auto;
}

.navbar-left a {
    padding: .5em .8em;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.navbar-left a::before,
.navbar-left a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.navbar-left a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ffa500;
    border-right: 3px solid #ffa500;
    transform: translate(-100%, 50%);
}

.navbar-left a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #ffa500;
    border-left: 3px solid #ffa500;
    transform: translate(100%, -50%)
}

.navbar-left a:hover:before,
.navbar-left a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.navbar-left a:hover {
    color: #ffa500;
}

.navbar-right a {
    padding: .5em .8em;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.navbar-right a::before,
.navbar-right a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.navbar-right a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ffa500;
    border-right: 3px solid #ffa500;
    transform: translate(-100%, 50%);
}

.navbar-right a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #ffa500;
    border-left: 3px solid #ffa500;
    transform: translate(100%, -50%)
}

.navbar-right a:hover:before,
.navbar-right a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.navbar-right a:hover {
    color: #ffa500;
}

.burger-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    color: white;
}

#logo-navbar {
    width: 145px;
}

#cerrar-sesion {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Agrega este estilo para mostrar la lista de navegación cuando se agrega la clase 'active' */
.navbar-list.active {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
    flex-direction: column;
    align-items: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}


/* navbar-index {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
} */



@media(min-width:0px) and (max-width:919px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    nav ul {
        display: none;
    }

    /*Aca empieza lo nuevo */

    .navbar-list {
        display: none;
    }

    .burger-menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;
        color: white;
    }

    .burger-menu.active {
        display: block;
    }

    /* Agrega estilos para las listas de navegación en pantallas pequeñas */
    .navbar-left.active {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 60%; /* Alinea las listas debajo del burger-menu */
            right: 0; /* Alinea las listas a la derecha */
            /* Elimina cualquier fondo gris o estilos no deseados aquí */
            padding: 10px; /* Espacio entre elementos si lo deseas */
            z-index: 101; /* Asegura que las listas estén encima de otros elementos */
        }

    .navbar-right.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 125%; /* Alinea las listas debajo del burger-menu */
        right: 0; /* Alinea las listas a la derecha */
        /* Elimina cualquier fondo gris o estilos no deseados aquí */
        padding: 10px; /* Espacio entre elementos si lo deseas */
        z-index: 101; /* Asegura que las listas estén encima de otros elementos */
    }

    .navbar-left.active li,
    .navbar-right.active li {
        margin: 5px; /* Ajusta la cantidad de margen según tus preferencias */
    }


}

@media(min-width:920px) {
    .burger-menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 40px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }
}

