.ambos-contenedores{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #ffa500;
    text-align: center;
    font-size: 18px;
}

.contenedor-local1, .contenedor-local2{
    width: 90vw;
    margin:20px 20px 10px 20px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #ffa500;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.foto-local{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;

}

.titulo-local{
    margin-bottom: 10px;

}

.descripcion-local{
    margin-bottom: 5px;
    line-height: 22px ;
    text-align: justify;
}


@media (min-width:920px){
    .title{
        font-size: 30px;
    }
    .contenedor-local1{
        width: 70vw;
        flex-direction:row;
        
    }
    .contenedor-local2{
        width: 70vw;
        flex-direction:row-reverse;
    }
    .foto-local{
        width: 40%;
        height: 100%;
        margin-bottom: 0px;
    }
    .titulo-y-descripcion{
        margin: 10px 20px 0px 20px;
    }
    .titulo-local{
        font-size: 25px;
        margin-bottom: 20px ;
    }
    .descripcion-local{
        font-size: 18px;
        line-height: 30px ;
    }


}