* {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    color: white;
}

footer {
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    width: 100%;
}

.section-profile {
    width: 100%;
    background-color: black;
    padding: 20px;
    text-align: center;
}

.section-profile * {
    background-color: transparent;
    color: orange;
    list-style-type: none;
    /* gap: 20px; */
    padding: 2px;
}

.container-img-name {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    align-content: center;
    align-items: center;
}

.container-img-name img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.list .fa-solid {
    color: orange;
}

.list {
    margin: 15px 0px;
}

#redes-paragraph {
    font-size: small;
    color: white;
    text-align: center;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.main-footer p {
    color: white;
    font-size: 0.5rem;
}

.redes-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;
}

.redes-container i {
    color: orange;
}

.agregar-quitar-button-detail {
    background-color: orange;
    color: black;
    font-weight: bolder;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 50px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

.agregar-eliminar-editar-button {
    display: flex;
    justify-content: center;
}

.fa-brands{
font-size: 20px;
}

#paragraph-footer {
    color: white;
    font-size: 0.7rem;
    text-align: center;
    /* Centra el párrafo */
    margin-top: 10px;
    /* Agrega espacio superior */
    position: absolute;
    font-weight: normal;
}

/* Media query para pantallas de 360px o más */
@media (min-width: 360px) {
    .container-img-name img {
        /* Ajusta el tamaño máximo de la imagen al 80% del contenedor */
        display: block;
        margin: 0 auto;
        /* Centra horizontalmente la imagen */
    }
}

/* Media queries adicionales para ajustar el diseño en pantallas más grandes si es necesario */
@media (min-width: 768px) {
    .container-img {
        width: 30%;
    }

    .section-profile {
        padding: 30px;
        /* Aumenta el espacio interno */
    }

    .list {
        margin: 15px 0;
        /* Espaciado entre elementos de lista */
    }
}

@media (min-width: 920px) {

    .container-img {
        width: 23%;
    }

    /* Estilos adicionales para pantallas de 992px o más */
    .container-list-profile {
        text-align: center;
    }

    @media (min-width:1200px) {
        .container-img{
            width: 15%;
        }
    }

    @media (min-width:1600px) {
        .container-img{
            width: 13%;
        }
    }
}