*{
    background-color: black;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

h2{
    margin-bottom: 5px;
    font-size: 22px;
    align-self: center;
    letter-spacing: 2px;
    font-weight: 200;
    color: white;
}

h3{
    margin-bottom: 35px;
    font-size: 14px;
    align-self: center;
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    opacity: 70%;
}

.form-register{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 75vw;
    align-self: center;
}

.form-google{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 40vw;
    align-self: center;
}

.form-facebook{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 40vw;
    align-self: center;
}

input[type="email"]{
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    box-sizing:border-box;
    padding: 12px;
    border: 2px solid white;
    border-radius: 12px;
}

input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    box-sizing:border-box;
    padding: 12px;
    border: 2px solid white;
    border-radius: 12px;    
}

input[type="password"]{
    width: 100%;
    margin-bottom: 8px;
    height: 35px;
    box-sizing:border-box;
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;    
}

input[type="date"]{
    width: 100%;
    margin-bottom: 19px;
    height: 35px;
    box-sizing:border-box;
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;    
}

input[type="file"]{
    margin-top: 8px;
    border-radius: 12px;
}

main button{
    width: 100%;
    height: 40px;
    box-sizing:border-box;
    display:flex;
    align-items: center;
    justify-content: center;
}

#enviar{
    margin-bottom: 30px;
    margin-top: 10px;
    height: 30px;
    border: 2px solid #ff6a0098;
    background-color: #FF6900;
    border-radius: 12px;
    font-size: 14px;
}

.botones-app{
    border-radius: 12px;
    background-color: white;
    color: black;
    border: solid 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-facebook-f{
    margin-right: 8px;
    background-color: white;
}

.fa-google{
    margin-right: 8px;
    background-color: white;
}

.login{
    margin-top: 30px;
    align-self:center;
    font-size: 13px;
}

.error{
    font-size: 14px;
    margin-bottom: 10px;
}

@media(min-width:576px){
    .form-register{
    width: 55vw;
}
}

@media(min-width:768px){
    .form-register{
        width: 45vw;
    }   
}

@media(min-width:992px){
    .form-register{
        width: 35vw;
    }    
}

@media(min-width:1200px){
    .form-register{
        width: 30vw;
    }    
}
