<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="list-container">
            <nav class="navbar">
                <div id="navbar-left">
                    <a href="/home"> <img class="logo" src="/imgs/logo-lagerhaus - blanco.png" alt="Logo Largerhaus" id="logo-navbar"> </a>
                </div>
                <ul class="navbar-right">
                    <li><a href="#menu">HACÉ TU PEDIDO</a></li>
                    <li><a href="#locales">LOCALES</a></li>
                    <li><a href="#franquicias">FRANQUICIAS</a></li>
                    <li><a href="#contacto">CONTACTO</a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>

    <br>
    
    <main>

        <form action="/" method="get">
            <p>Ingresar</p>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <div class="recordar-ft-olvidar">
                <div class="recordar-check">
                    <input type="checkbox" name="Recordarme" id="Recordarme" value="Recordarme">
                    <label for="Recordarme">Recordarme</label>
                </div>
                    <a id="olvide" href="#">Olvidé mi contraseña</a>
            </div>
            <button id ="ingresar" type="submit">Ingresar</button>
        </form>
        <br>
        <form action="/Google" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-google" style="color: #000000;"></i>Ingresa con Google</button>
        </form>
        <form action="/Facebook" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-facebook-f" style="color: #000000;"></i>Ingresa con Facebook</button>
        </form>
        <a class="register" href="/register">Crea tu cuenta</a>

    </main>
</body>

<footer>

</footer>

</html>
