<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Login</title>
        <link href="/css/login.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <br>

    <main>

        <form action="/users/login" method="post">
            <p>Ingresar</p>
            <input type="email" name="email" id="email" placeholder="Email de usuario">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <h6 class="error" style="color: red">
                <%= error %>
            </h6>
            <div class="recordar-ft-olvidar">
                <div class="recordar-check">
                    <input type="checkbox" name="Recordarme" id="Recordarme" value="Recordarme">
                    <label for="Recordarme">Recordarme</label>
                </div>
                <a id="olvide" href="#">Olvidé mi contraseña</a>
            </div>
            <button id="ingresar" type="submit">Ingresar</button>
        </form>
        <br>
        <form action="/Google" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-google" style="color: #000000;"></i>Ingresa
                con Google</button>
        </form>
        <form action="/Facebook" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-facebook-f"
                    style="color: #000000;"></i>Ingresa con Facebook</button>
        </form>
        <a class="register" href="/users/register">Crea tu cuenta</a>

    </main>
</body>

<footer>

</footer>

</html>