<!DOCTYPE html>
<html lang="en">
<head>
        <%- include("./partials/head") %>
            <title>Mi Perfil</title>
            <link href="/css/login.css" rel="stylesheet">
</head>
<body>

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <main>

        <section class="section-left-menu">
            
        </section>

        <section class="section-right-principal">
            
        </section>

    </main>
    
</body>
</html>