<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Mi Perfil</title>
        <link href="/css/profile.css" rel="stylesheet">
        
</head>

<body>

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <main>

        <section class="section-profile-left">

            <div class="container-img-name">
                <img src="" alt="Foto de perfil">
                <h3>Gonzalo Esposito</h3>
                <p>gonza.2@hotmail.com</p>
            </div>

            <div class="container-list-profile">
                <ul class="list-profile">
                    
                    <li class="list">
                        <i class="fa-solid fa-house fa-lg" style="color: black;"></i>
                        <p>Inicio</p>
                    </li>

                    <li class="list">
                        <i class="fa-solid fa-user fa-lg" style="color: black;"></i>
                        <p>Mi perfil</p>
                    </li>

                    <li class="list">
                        <i class="fa-solid fa-location-dot fa-lg" style="color: black;"></i>
                        <p>Mis direcciones</p>
                    </li>

                    <li class="list">
                        <i class="fa-solid fa-receipt fa-lg" style="color: black;"></i>
                        <p>Mis pedidos</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section-profile-right">

            <ul class="container-my-acount">

                <h1>Mi Cuenta</h1>
                    
                <li class="my-acount-list">
                    <p>Email</p>
                </li>

                <li class="my-acount-list">
                    <p>Numero de celular</p>
                </li>

                <li class="my-acount-list">
                    <p>Fecha de nacimiento</p>
                </li>

                <li class="my-acount-list">
                    <p>Cerrar sesion</p>
                </li>
            </ul>

        </section>

    </main>

    <footer>
        <%- include("./partials/footer-franquicias") %>
    </footer>

</body>

</html>