<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Register</title>
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>
    
    <header>
        <%- include("./partials/header-users") %>
    </header>

    <main>
        <form action="/users" method="post">
            <p>Registro</p>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirmar contraseña">
            <button id ="enviar" type="submit">Enviar</button>
        </form>
        <br>
        <form action="/Google" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-google" style="color: #000000;"></i>Regístrate con Google</button>
        </form>
        <form action="/Facebook" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-facebook-f" style="color: #000000;"></i>Regístrate con Facebook</button>
        </form>
        <a class="login" href="/users/login">¿Ya tienes una cuenta?</a>

    </main>


</body>
</html>