<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Register</title>
        <link href="/css/register.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <main>
        <form action="/users" method="POST" enctype="multipart/form-data">
            <p>Registro</p>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="text" name="numero_celular" id="numero_celular" placeholder="Número de celular">
            <input type="date" name="nacimiento" id="nacimiento" placeholder="Fecha de nacimiento">
            <input type="text" name="direccion" id="direccion" placeholder="Direccion">
            <input type="file" class="imgButton" name="image" id="img">

            <% if (errors && errors.length > 0) { %>
                <div class="error-messages">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
            
            <button id="enviar" type="submit">Registrar</button>
        </form>
        <br>
        <form action="/Google" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-google"
                    style="color: #000000;"></i>Regístrate con Google</button>
        </form>
        <form action="/Facebook" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-facebook-f"
                    style="color: #000000;"></i>Regístrate con Facebook</button>
        </form>
        <a class="login" href="/users/login">¿Ya tienes una cuenta?</a>

    </main>


</body>

</html>