<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Login</title>
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include("./partials/header") %>
    </header>

    <br>

    <main>



        <h2>INGRESÁ</h2>
        <h3>al mundo LagerHaus :)</h3>
        <form action="/users/login" method="post">
            <input type="email" name="email" id="email" placeholder="Email de usuario">
            <p class="error" style="color: red;"></p>
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <p class="error" style="color: red;"></p> 
            <div class="recordar-ft-olvidar">
                <div class="recordar-check">
                    <input type="checkbox" name="remember">
                    <label for="Recordarme">Recordarme</label>
                </div>
                <a id="olvide" href="#">Olvidé mi contraseña</a>
            </div>
            <% if (errors && errors.length > 0) { %>
                <div class="error-messages">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li class="error-contraseña"><%= error.msg %></li>
                        <% }); %>
                        <br>
                    </ul>
                </div>
            <% } %>

            <button id="ingresar" disabled type="submit">Ingresar</button>
        </form>
        <br>
        <form action="/Google" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-google" style="color: #000000;"></i>Ingresa
                con Google</button>
        </form>
        <form action="/Facebook" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-facebook-f"
                    style="color: #000000;"></i>Ingresa con Facebook</button>
        </form>
        <a class="register" href="/users/register">Crea tu cuenta</a>

    </main>

    <script src="/js/loginForm.js"></script>

</body>

<footer>

</footer>

</html>