<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Register</title>
        <link href="/css/register.css" rel="stylesheet">
</head>

<body> 

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <main>
        <h2>REGÍSTRATE</h2>
        <h3>y sé parte del mundo LagerHaus :)</h3>
        <form action="/users" method="POST" enctype="multipart/form-data">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            <p class="error" style="color: red;"></p>
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            <p class="error" style="color: red;"></p>
            <input type="email" name="email" id="email" placeholder="Email">
            <p class="error" style="color: red;"></p>
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <p class="error" style="color: red;"></p>
            <input type="date" name="nacimiento" id="nacimiento" placeholder="Fecha de nacimiento">
            <input type="text" name="direccion" id="direccion" placeholder="Direccion">
            <input type="file" class="imgButton" style="color:rgba(255, 255, 255, 0.7)" name="image" id="img">
            <p class="error" style="color: red;"></p>

            <% if (errors && errors.length > 0) { %>
                <div class="error-messages">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
            
            <button id="enviar" disabled type="submit">Enviar</button>
        </form>
        <br>
        <form action="/Google" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-google"
                    style="color: #000000;"></i>Regístrate con Google</button>
        </form>
        <form action="/Facebook" method="get">
            <button class="botones-app" type="submit"><i class="fa-brands fa-facebook-f"
                    style="color: #000000;"></i>Regístrate con Facebook</button>
        </form>
        <a class="login" href="/users/login">¿Ya tienes una cuenta?</a>

    </main>

    <script src="/js/registerForm.js"></script>

</body>

</html>