<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Agregar Producto</title>
        <link href="/css/register.css" rel="stylesheet">
        <link href="/css/agregar-producto.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <main>
        <!-- <ul>
            <%# errors.forEach(errorActual => { %>
            <li><%#= errorActual.msg %></li>
            <%# }) %>
          </ul> -->
        <p>Agregar productos</p>
        <form action="/products/menu" method="post" enctype="multipart/form-data">
            <h4>Complete el detalle del nuevo producto:</h4>
            <input type="text" name="name" id="" placeholder="Nombre del producto">
            <label for="category" class="form-label">Categoría:</label>
            <select name="category" id="category" class="form-input">
                <option value="1">Tapeo</option>
                <option value="2">Burgers</option>
                <option value="3">Sandwiches</option>
                <option value="4">Sin Tacc</option>
                <option value="5">Vegano</option>
                <option value="6">Cervezas</option>
                <option value="7">Tragos y Gaseosas</option>
            </select>
            <input type="text" name="description" id="" placeholder="Descripción del producto">
            <input type="text" name="price" id="" placeholder="Precio del producto">
            <h4>Seleccione la foto del nuevo producto:</h4>
            <input type="file" multiple accept=".jpg, .jpeg, .png" name="image" id="img">
            <button id="enviar" type="submit">Agregar</button>
        </form>
    </main>


</body>

</html>