<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Detalle de producto</title>
        <link href="/css/detalle-producto.css" rel="stylesheet">
</head>

<body>

    <main>
      <h1> Tenes el carrito vacio! <a class="hace-tu-pedido" href="/products/menu">Realizá tu pedido</a>, no te quedes con hambre!</h1>

    </main>
    <footer>

    </footer>
</body>

</html>