<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Tu carrito</title>
    <link href="/css/carrito-compras.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header-products") %>
    </header>
    <main>

        <div class="titulo">
            <h1>Tu pedido</h1>
        </div>
        
        <div class="carrito">
            <ul class="todos-los-items">
                <li id="item-0" class="item-carrito">
                    <div class="foto-nombre-cantidad">
                        <a href="/products/detalle-producto"> <img src="/imgs/burger-cervecera.jpg" width=60px alt="Foto Producto"></a>
                        <div class="nombre-cantidad">    
                            <h2>Nombre Item 0</h2>
                            <h4>Cantidad: 5</h4>
                        </div>
                    </div>
                    <h3>$ Precio</h3>
                </li>
                <li id="item-1" class="item-carrito">
                    <div class="foto-nombre-cantidad">
                        <a href="/products/detalle-producto"> <img src="/imgs/burger-clasica.jpg" width=60px alt="Foto Producto"></a>
                        <div class="nombre-cantidad">    
                            <h2>Nombre Item 1</h2>
                            <h4>Cantidad: 5</h4>
                        </div>
                    </div>
                    <h3>$ Precio</h3>
                </li>
                </li>
                <li id="item-2" class="item-carrito">
                    <div class="foto-nombre-cantidad">
                        <a href="/products/detalle-producto"> <img src="/imgs/burger-jack.jpg" width=60px alt="Foto Producto"></a>
                        <div class="nombre-cantidad">    
                            <h2>Nombre Item 2</h2>
                            <h4>Cantidad: 5</h4>
                        </div>
                    </div>
                    <h3>$ Precio</h3>
                </li>
            </ul>
        </div>

        <div class="total-carrito">
            <ul>
                <li id="subtotal" class="subtotales">
                    <h5>SUBTOTAL</h5>
                    <h5>$ Subtotal</h5>
                </li>
                <li id="envio"  class="subtotales">
                    <h5>ENVÍO</h5>
                    <h5>$ Envio</h5>
                </li>
                <li id="total"  class="subtotales">
                    <h6>TOTAL</h6>
                    <h6>$ Total</h6>
                </li>
            </ul>
        </div>

    </main>

    <footer>
        <a href="/products/confirmacion-producto"><button type="button" class="pagar">IR A PAGAR</button></a>
    </footer>
</body>
</html> 