<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/carrito-compras.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
            <nav class="navbar">
                    <a href="/products/menu"><i class="fa-solid fa-arrow-left fa-lg" style="color: #ffa500;" alt="Ir hacia atrás"></i></a>
                    <a href="/"> <img class="logo" src="/imgs/logo-lagerhaus - blanco.png" alt="Logo Largerhaus" id="logo-navbar"> </a>
                    <i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffa500;"></i>
            </nav>
    </header>
    <main>

        <div class="titulo">
            <h1>Tu pedido</h1>
        </div>
        
        <div class="carrito">
            <ul class="todos-los-items">
                <li id="item-0" class="item-carrito">
                    <div class="foto-nombre-cantidad">
                        <a href="/products/detalle-producto"> <img src="/imgs/burger-cervecera.jpg" width=60px alt="Foto Producto"></a>
                        <div class="nombre-cantidad">    
                            <h2>Nombre Item 0</h2>
                            <h4>Cantidad: 5</h4>
                        </div>
                    </div>
                    <h3>$ Precio</h3>
                </li>
                <li id="item-1" class="item-carrito">
                    <div class="foto-nombre-cantidad">
                        <a href="/products/detalle-producto"> <img src="/imgs/burger-clasica.jpg" width=60px alt="Foto Producto"></a>
                        <div class="nombre-cantidad">    
                            <h2>Nombre Item 1</h2>
                            <h4>Cantidad: 5</h4>
                        </div>
                    </div>
                    <h3>$ Precio</h3>
                </li>
                </li>
                <li id="item-2" class="item-carrito">
                    <div class="foto-nombre-cantidad">
                        <a href="/products/detalle-producto"> <img src="/imgs/burger-jack.jpg" width=60px alt="Foto Producto"></a>
                        <div class="nombre-cantidad">    
                            <h2>Nombre Item 2</h2>
                            <h4>Cantidad: 5</h4>
                        </div>
                    </div>
                    <h3>$ Precio</h3>
                </li>
            </ul>
        </div>

        <div class="total-carrito">
            <ul>
                <li id="subtotal" class="subtotales">
                    <h5>SUBTOTAL</h5>
                    <h5>$ Subtotal</h5>
                </li>
                <li id="envio"  class="subtotales">
                    <h5>ENVÍO</h5>
                    <h5>$ Envio</h5>
                </li>
                <li id="total"  class="subtotales">
                    <h6>TOTAL</h6>
                    <h6>$ Total</h6>
                </li>
            </ul>
        </div>

    </main>

    <footer>
        <a href="/products/confirmacion-producto"><button type="button" class="pagar">IR A PAGAR</button></a>
    </footer>
</body>
</html> 