<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
</head> 
<body>
    <header>
        <div class="list-container">
            <nav class="navbar">
                <div id="navbar-left">
                    <a href="/home"> <img class="logo" src="/imgs/logo-lagerhaus - blanco.png" alt="Logo Largerhaus" id="logo-navbar"> </a>
                </div>
                <ul class="navbar-right">
                    <li><a href="/menu">HACÉ TU PEDIDO</a></li>
                    <li><a href="#locales">LOCALES</a></li>
                    <li><a href="#franquicias">FRANQUICIAS</a></li>
                    <li><a href="#contacto">CONTACTO</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/carrito-compras"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffa500;"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="seccion" id="tapeo">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\tapeo-papas-completas-banner.jpg" alt="Foto Tapeo"> 
                <h2 class="title-banner">Tapeo</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <div class="contenedor-foto-producto"><a href="/productDetail"><img class="foto-producto" src="/imgs/tapeo-nachos-bondiola.jpg" width=50px alt="Foto Producto"></a></div>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">NACHOS</p>
                                <p class="detalle-producto">Con bondiola a la BBQ</p>
                            </div>
                        </div>
                        <p class="precio">$1.900</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tapeo-muzzarellitas.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">MOZZARELLAS EMPANIZADAS</p>
                                <p class="detalle-producto">Con salsa fileto.</p>
                            </div>
                        </div>
                        <p class="precio">$1.800</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tapeo-papas-completas.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">PAPAS COMPLETAS</p>
                                <p class="detalle-producto">Con queso cheddar, panceta y verdeo.</p>
                            </div>
                        </div>
                        <p class="precio">$1.900</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tapeo-tequeños.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">TEQUEÑOS</p>
                                <p class="detalle-producto">Con salsa tártara.</p>
                            </div>
                        </div>
                        <p class="precio">$2.000</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="burgers">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\burgers-banner.jpg" alt="Foto burguers"> 
                <h2 class="title-banner">Burgers</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/burger-cervecera.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">CERVECERA</p>
                                <p class="detalle-producto">Medallón de carne, huevo a la plancha, panceta ahumada, cebolla caramelizada, y queso cheddar.</p>
                            </div>
                        </div>
                        <p class="precio">$2.000</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/burger-clasica.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">CLÁSICA</p>
                                <p class="detalle-producto">Medallón de carne, queso tybo, jamón, lechuga y tomate.</p>
                            </div>
                        </div>
                        <p class="precio">$1.800</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/burger-doble-smash.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">DOBLE SMASH</p>
                                <p class="detalle-producto">Doble carne SMASH, cuádruple cheddar y panceta ahumada.</p>
                            </div>
                        </div>
                        <p class="precio">$2.400</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/burger-jack.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">JACK</p>
                                <p class="detalle-producto">Medallón de carne, queso cheddar, panceta ahumada, aros de cebolla y salsa BBQ Jack Daniel's.</p>
                            </div>
                        </div>
                        <p class="precio">$1.900</p>    
                    </li>
                </ul>
            </div>          
        </div>

        <div class="seccion" id="sandwiches">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\sandwich-banner.jpg" alt="Foto sandwiches"> 
                <h2 class="title-banner">Sandwiches</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/sandwich-bondiola-desmenuzada.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">BONDIOLA DESMENUZADA</p>
                                <p class="detalle-producto">Bondiola braseada, cebolla caramelizada y salsa barbacoa.</p>
                            </div>
                        </div>
                        <p class="precio">$2.300</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/sandwich-double-down.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">DOUBLE DOWN</p>
                                <p class="detalle-producto">Con dos piezas de pollo frito en lugar del pan, doble queso cheddar, panceta ahumada y salsa Big M.</p>
                            </div>
                        </div>
                        <p class="precio">$2.900</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/sandwich-phillycheesesteak.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">PHILLY CHEESESTEAK</p>
                                <p class="detalle-producto">Tiras de ojo de bife, queso cheddar y cebolla.</p>
                            </div>
                        </div>
                        <p class="precio">$2.900</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="pizzas">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\pizza-banner.jpg" alt="Foto pizzas"> 
                <h2 class="title-banner">Wraps</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/wrap-pollo.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">POLLO</p>
                                <p class="detalle-producto">Con pollo crunch, lechuga, tomate, queso crema, queso provoleta y alioli de zanahoria.</p>
                            </div>
                        </div>
                        <p class="precio">$1.800</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/wrap-veggie.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">VEGGIE</p>
                                <p class="detalle-producto">Lechuga, tomate, queso crema, queso provoleta y alioli de zanahoria.</p>
                            </div>
                        </div>
                        <p class="precio">$1.800</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="sintacc">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\sintacc-banner.jpg" alt="Foto sintacc"> 
                <h2 class="title-banner">Sin TACC</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/sintacc-empanadas.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">EMPANADAS x3</p>
                                <p class="detalle-producto">Carne / Jamón y Queso</p>
                            </div>
                        </div>
                        <p class="precio">$1.800</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/sintacc-tartas.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">TARTA</p>
                                <p class="detalle-producto">Jamón y Queso / Verdura</p>
                            </div>
                        </div>
                        <p class="precio">$1.800</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="vegano">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\vegano-banner.jpg" alt="Foto vegano"> 
                <h2 class="title-banner">Vegano</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tabla-vegana.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">TABLA VEGANA</p>
                                <p class="detalle-producto">Para compartir. 3 empanadas notCarne, bastones de zanahoria, hummus de garbanzo, morrones en aceite, tomates cherry, berenjenas al escabeche, aceitunas verdes acompañada de batatas y papas fritas.</p>
                            </div>
                        </div>
                        <p class="precio">$4.200</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/vegano-notCo.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Burger notCo</p>
                                <p class="detalle-producto">Medallón notCo simil carne, lechuga, tomate, queso cheddar vegano, pan vegano y notMayo.</p>
                            </div>
                        </div>
                        <p class="precio">$1.900</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="cervezas">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\cerveza-banner.jpg" alt="Foto cervezas"> 
                <h2 class="title-banner">Cervezas</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/CERVEZA.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Pinta</p>
                            </div>
                        </div>
                        <p class="precio">$800</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/CERVEZA.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">Media Pinta</p>
                            </div>
                        </div>
                        <p class="precio">$600</p>    
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="tragos">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\tragos-banner.jpg" alt="Foto tragos"> 
                <h2 class="title-banner">Tragos y gaseosas</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tragos-fernet.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">FERNET CON COLA</p>
                            </div>
                        </div>
                        <p class="precio">$1.100</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tragos-jager-redbull.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">JAGERMEISTER & RED BULL</p>
                            </div>
                        </div>
                        <p class="precio">$2.400</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tragos-merle-tonic.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">MERLE & TONIC</p>
                            </div>
                        </div>
                        <p class="precio">$1.200</p>    
                    </li>
                    <li class="producto">
                        <div class="foto-nombre-detalle">
                            <a href="/productDetail"><img class="foto-producto" src="/imgs/tragos-aperol.jpg" width=50px alt="Foto Producto"></a>
                            <div class="nombre-detalle">    
                                <p class="titulo-producto">APEROL SPRITZ</p>
                            </div>
                        </div>
                        <p class="precio">$1.200</p>    
                    </li>
                </ul>
            </div>
            
        </div>

    </main>

    <footer>
    </footer>
    
</body>
</html>